* {
    font-family: "Roboto";
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --bg_color_blue: #080b2e ;
    --bg_color_2: #0b103f;
    --text_color_1: #958743;
    --text_color_2: #e3bd00;
}

.header {
    position: fixed;
    background: var(--bg_color_blue);
    width: 100%;
    box-shadow: #000 0px 3px 4px;
}

.header__title {
    color: var(--text_color_1);
    font-weight: 800;
    padding: 3px;
    text-align: center;
}

.sidebar {
    position: fixed;
    height: 100vh;
    background: var(--bg_color_2);
    z-index: 1;
    padding: 5px;
}

.sidebar h2 {
    font-weight: 700;
    color: white;
    padding: 10px;
}

.sidebar a{
    text-decoration: none;
    display: block;
    color: white;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
}

.sidebar a:hover {
    color: var(--text_color_2);
    transition-duration: 0.4s;
    transform: scale(1.2);
}

.content{
    margin-left: 220px;
    width: calc(100% - 220px);
    height: 100vh;
    background-color: #ebebeb;
}

.content__start {
    display: grid;
    z-index: inherit;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.start__img {
    display: grid, flex;
    grid-column: span 4;
    height: 100%;
    margin-left: 80px;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: calc(100% - 150px);
    background-color: var(--bg_color_blue);
    margin-top: 133px;
    border-radius: 20px;
}

.start__img h2 {
    position: relative;
    font-size: 40px;
    font-weight: 800;
    text-shadow: #e3bd00 0px 0px 80px;
    z-index: 3;
    color: var(--text_color_2);
}

.start__img img {
    mask-image: linear-gradient(black 90%, transparent);
}

.carnotaurus {
    position: absolute;
    width: 500px;
    height: 260px;
    top: 170px;
    left: 870px;
}

.pteranodon {
    position: absolute;
    width: 470px;
    height: 250px;
    top: 100px;
    left: 280px;
}

.triceratops {
    position: absolute;
    width: 470px;
    height: 250px;
    top: 200px;
    left: 150px;
    z-index: 2;
}

.velociraptor {
    position: absolute;
    width: 370px;
    height: 200px;
    top: 260px;
    left: 790px;
    transform: rotateY(180deg);

}